<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header', {title: title}) %>
    <main>
      <form action="" method="post">
        <fieldset>
          <div>
            <label for="first-name">First name</label>
            <input
              type="text"
              name="first_name"
              id="first-name"
              required
              value="<%= member ? member.first_name : '' %>"
            />
          </div>
          <div>
            <label for="last-name">Last name</label>
            <input
              type="text"
              name="last_name"
              id="last-name"
              required
              value="<%= member ? member.last_name : '' %>"
            />
          </div>
        </fieldset>
        <fieldset>
          <div>
            <label for="username">Username or email</label>
            <input
              name="username"
              placeholder="username"
              type="text"
              id="username"
              required
              value="<%= member ? member.username : '' %>"
            />
          </div>
          <div>
            <label for="password">Password</label>
            <input name="password" type="password" id="password" required />
          </div>
          <div>
            <label for="password-confirmation">Confirm password</label>
            <input
              name="password_confirmation"
              type="password"
              id="password-confirmation"
              required
            />
          </div>
        </fieldset>
        <ul>
          <% if (errors) { errors.forEach(err => { %>
          <li><%= err.msg %></li>
          <%}) } %>
        </ul>
        <button>Sign Up</button>
      </form>
    </main>
  </body>
</html>
